*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    display: flex;
    justify-content: center;
}
.container{
    border: solid black;
    display: flex;
    flex-direction: column; 
}
.mt-10{
    margin-top: 10px;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
}
.joke_container{
    border: solid black;
    flex-direction: column; 
    max-width: 400px;
}
.txt-20{
    font-size: 20px;
}